* {
    font-family: ProximaNova, system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #ADD8E6;
    padding: 0px;
    margin: 0px;
}

.navBar {
    background-color: #668eB9;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    color: black;
}

.form {
    display: flex;
    justify-content: center;
}

form {
    padding: 20px;
    text-align: center;
}

.labels {

    padding: 0px;
    display: flex;
    justify-content: space-around;
}



.inputElements {
    width: 70px;
    height: 30px;

}

.inputs {

    display: flex;
    justify-content: center;
}

.checkLabel {
    padding-bottom: 0px;

}

.pfCenter {
    display: flex;
    justify-content: center;
}

.pf {
    display: grid;
    grid-template: repeat(10, 1fr)/repeat(10, 1fr);
    height: 1000px;
    width: 1000px;
    background-color: #668eB9;
}

.startCenter {
    display: flex;
    justify-content: center;
}

.start {

    width: 1000px;

}

.startElement {}

.square {
    background-color: #337d58;
    color: #337d58;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-delay: 0.15s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.square:hover {
    background-color: #FF8800;
    color: black;
}
