* {
    font-family: ProximaNova, system-ui, -apple-system, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    background-color: #ADD8E6;
    padding: 0px;
    margin: 0px;
}

.navBar {
    background-color: #668eB9;
    height: 50px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinks {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    color: black;
}

.page4 {
    background-color: #FF8800;

}

#wally1,
#wallyhint,
#wally3,
#wally4,
#wally5,
#wally6 {
    width: 500px;
    height: 500px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    width: 700px;
    text-align: center;
}

/* .tryGrid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr
} */

.top3 {
    display: flex;
}

.bottom3 {
    display: flex;
}

img {
    padding: 10px;
}
